<div class="header">
    <div class="logo">
    <h1>Your Dashboard</h1>
    </div>
</div>
{{#if postData}}
{{#each postData as |post|}}
<div class="card ms-3 me-3">
    <div class="card-header">
    <a href="/post-update/{{post.id}}">{{post.title}}</a>
  </div>
    <div class="card-body">
        {{post.post}}
    </div>
</div>
{{/each}}
{{else}}
<div class="row">
    <div class="col-12">
        <p>Please create a blog post</p>
    </div>
</div>
{{/if}}
<div class="row">
    <div class="col-12 text-center mt-3">
        <a href="/post-new" class="create-post"> + New Post</a>
    </div>
</div>
