<link rel="stylesheet" href="./css/login.css">

<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <div class="card-body">
    <form class="form login-form">
      <div class="form-group">
        <input class="form-input" type="text" id="username-login" placeholder="Username"/>
      </div>
      <div class="form-group">
        <input class="form-input" type="password" id="password-login" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
    <p><a href="/signup">Sign Up instead</a></p>
  </div>
</div>

<script src="/js/login.js"></script>